{% extends "blogapp/base.html" %}
{% block content %}

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog!</h1>
            <p class="lead mb-0">Write your inner feelings, find new friends</p>
        </div>
    </div>
</header>

<!-- Blog entries-->
<div class="col-lg-8">
    <!-- Featured blog post-->
    {% for trend in trending %}
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top img-fluid rounded" src="{{trend.image.url}}" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{trend.date}}</div>
            <h2 class="card-title">{{trend.title}}</h2>
            <p class="card-text">{{trend.body | truncatechars:"300"}}</p>
            <a class="btn btn-primary" href="{% url 'readmore' trend.slug %}">Read more →</a>
        </div>
    </div>
    {% endfor %}
    <!-- Nested row for non-featured blog posts-->
    <div class="row">
        {% for posts in posts %}
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="{{posts.image.url}}"
                        alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{post.date}}</div>
                    <h2 class="card-title h4">{{post.title}}</h2>
                    <p class="card-text">{{post.body | truncatechars:"300"}}</p>
                    <a class="btn btn-primary" href="{% url 'readmore' posts.slug %}">Read more →</a>
                </div>
            </div>
            <!-- Blog post-->
           
        </div>
        
        {% endfor %}

    </div>
    <!-- Pagination-->
    
</div>

{% endblock %}